{% extends "log_base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="\static\css\dog_test_1.css" />
<br><h1 class="header_site">{{ head }}</h1><br>
<div class="header_site">В этом тесте ты узнаешь, какая порода собаки тебе подходит больше всего. Отвечай честно, чтобы
    получить правдивые результаты!
</div><br>

<div class="card mx-auto p-2">
    <div class="card-body">
        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0"
             aria-valuemax="100">
            <div class="progress-bar" style="width: {{progress}}">{{progress}}</div>
        </div>
        <br>
        <img src={{ picture }} class="img" alt="...">

        <h3>{{title}}</h3> <br>

        <form name="temperament" action={{source}} method="post" onsubmit="">
            <input class="form-check-input" type="radio" name={{name}} id={{id_1}} value={{value_1}}>
            <label class="form-check-label" for={{id_1}}>
                {{first}}
            </label> <br>
            <input class="form-check-input" type="radio" name={{name}} id={{id_2}} value={{value_2}} checked>
            <label class="form-check-label" for={{id_2}}>
                {{second}}
            </label> <br>
            <input class="form-check-input" type="radio" name={{name}} id={{id_3}} value={{value_3}} checked>
            <label class="form-check-label" for={{id_3}}>
                {{third}}
            </label> <br>
            <input class="form-check-input" type="radio" name={{name}} id={{id_4}} value={{value_4}} checked>
            <label class="form-check-label" for={{id_4}}>
                {{fourth}}
            </label> <br>
            <input type=submit value={{ message }} >
        </form>
        <p>{{ spisok }}</p>
        <p>{{ count }}</p>
    </div>
</div>


{% endblock %}