{% extends "log_base.html" %}

{% block content %}

<br>
<h1 class="header_site">Развлекательные тесты "Кто ты?"</h1><br>

<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="static/img/dog1.jpeg" class="card-img-top1" alt="...">
                <div class="card-body shadow-lg bg-body-tertiary rounded">
                    <h5 class="card-title">Какая ты собака?</h5>
                    <p class="card-text ">Узнай, какая порода собаки больше всего подходит тебе по темпераменту и
                        характеру!</p>
                    <a href="/dog_test_1" class="btn btn-primary">Начать тест</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="static/img/drink.jpg" class="card-img-top2" alt="...">
                <div class="card-body shadow-lg bg-body-tertiary rounded">
                    <h5 class="card-title">Какой ты напиток?</h5>
                    <p class="card-text">Пройди тест и узнай, какой ты напиток, исходя из твоих качеств</p>
                    <a href="/drink_test_1" class="btn btn-primary">Начать тест</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="static/img/cat1.jpg" class="card-img-top3" alt="...">
                <div class="card-body shadow-lg bg-body-tertiary rounded">
                    <h5 class="card-title">Какой ты кот?</h5>
                    <p class="card-text">Сфинкс или русская голубая? Пройди тест и узнай!</p>
                    <a href="/cat_test_1" class="btn btn-primary">Начать тест</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="static/img/chichilla.jpg" class="card-img-top3" alt="...">
                <div class="card-body shadow-lg bg-body-tertiary rounded">
                    <h5 class="card-title">Какая ты шиншилла?</h5>
                    <p class="card-text">В этом тесте ты узнаешь, какую шиншиллу тебе лучше завести</p>
                    <a href="/chin_test_1" class="btn btn-primary">Начать тест</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}