{% extends "log_base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="\static\css\personal.css" />
<!--<style>-->

<!--  .card {-->
<!--    align: center;-->
<!--    height: 700px;-->
<!--    width: 1200px;-->
<!--  }-->
<!--  .img {-->
<!--    object-fit: cover;-->
<!--    width: 300px;-->
<!--    height: 300px;-->
<!--    float: left;-->
<!--  }-->
<!--  .progress {-->
<!--    margin-left: auto;-->
<!--    margin-right: auto;-->
<!--    object-fit: cover;-->
<!--    width: 800px;-->
<!--    height: 10px;-->
<!--  }-->
<!--  .namee {-->
<!--    position: relative;-->
<!--    left: 35px;-->
<!--  }-->
<!--  .emaill {-->
<!--    position: relative;-->
<!--    left: 37px;-->
<!--    top: -30px;-->
<!--  }-->


<!--</style>-->
<br>
<div class="card mx-auto p-2">
    <div class="card-body">
        <img src="static/img/person_image.png" class="img" alt="...">
        <br>
        <div>
            <h1 class="namee"> {{ user }} </h1><br>
            <h6 class="emaill"> {{ email }} </h6><br>
        </div>
    </div>
</div>


{% endblock %}